<section class="page">

    <h1>
      aposte o quanto quiser.<br>
      a sorte decide quem ganha.

      <small>&nbsp;</small>
    </h1>

    <div class="raffle">

      <ul class="raffle-detail">
        <li class="lefted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <li class="lefted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <li class="lefted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <li class="lefted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <li class="lefted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <!-- Open raffle -->
        <li class="centered">
          <div class="opened">
            <div class="date box">
              <p>data do sorteio</p>
              <h2>20 set, 18h</h2>
            </div>
            <div class="bet">
              <div class="caller">
                <h3>preencha um valor</h3>
                <p>quanto maior a aposta, maiores as chances.</p>
              </div>
              <input type="text" name="bet" value="" class="amount" placeholder="20" maxlength="16">
              <a href="" title="" class="go">go!</a>
            </div>
            <div class="prize box">
              <p>valor do premio</p>
              <h2>R$ 386,60</h2>
            </div>
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            sorteios futuros. fechados.
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            sorteios futuros. fechados.
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            sorteios futuros. fechados.
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            sorteios futuros. fechados.
          </div>
        </li>
      </ul>

      <div class="raffle-number">
        <ul>
          <li>sorteio #1</li>
          <li>sorteio #2</li>
          <li>sorteio #3</li>
          <li>sorteio #4</li>
          <li>sorteio #5</li>
          <li class="selected">sorteio #6</li>
          <li>sorteio #7</li>
          <li>sorteio #8</li>
          <li>sorteio #9</li>
          <li>sorteio #10</li>
        </ul>
      </div>

      <a href="" class="raffle-control left">&nbsp;</a>
      <a href="" class="raffle-control right">&nbsp;</a>

      <span class="raffle-shadow left">&nbsp;</span>
      <span class="raffle-shadow right">&nbsp;</span>

    </div>

</section>
