<section class="page">

    <h1>
      aposte o quanto quiser.<br>
      a sorte decide quem ganha.
    </h1>

    <div class="raffle">

      <ul class="raffle-detail">
        <li class="leftted">
          <div class="closed">
            sorteios anteriores. fechados.
          </div>
        </li>

        <!-- Open raffle -->
        <li class="centered">
          <div class="opened">
            <div class="date box">
              fooo
            </div>
            <div class="bet">

            </div>
            <div class="prize box">
              fooo
            </div>
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            sorteios futuros. fechados.
          </div>
        </li>
      </ul>

      <ul class="raffle-number">
        <li>sorteio #1</li>
        <li>sorteio #2</li>
        <li>sorteio #3</li>
        <li class="selected">sorteio #4</li>
        <li>sorteio #5</li>
        <li>sorteio #6</li>
        <li>sorteio #7</li>
      </ul>

    </div>

</section>
