<section class="page">

    <h1>
      aposte o quanto quiser.<br>
      a sorte decide quem ganha.
    </h1>

    <span class="arrow">&nbsp;</span>

    <div class="raffle">

      <ul class="raffle-detail">
        <li class="lefted">
          <div class="closed">
            <div class="date box">
              <p>data do sorteio</p>
              <h2>17 ago 2013</h2>
            </div>
            <div class="prize box">
              <p>valor do premio</p>
              <h2>$ 9,702.15</h2>
            </div>
            <div class="winner box">
              <p>vencedor</p>
              <h2>Filipe Guth</h2>
            </div>
          </div>
        </li>

        <!-- Open raffle -->
        <li class="centered">
          <div class="opened">
            <div class="date box">
              <p>data do sorteio</p>
              <h2>20 set, 18h</h2>
            </div>
            <div class="bet">
              <div class="caller">
                <h3>preencha um valor.</h3>
                <p>quanto maior a aposta, maiores as chances.</p>
              </div>
              <input type="text" name="bet" value="" class="amount" placeholder="20.00" maxlength="16">
              <a href="" title="" class="go">bet!</a>
            </div>
            <div class="prize box">
              <p>valor do premio</p>
              <h2>$ 386,60</h2>
            </div>
          </div>
        </li>

        <li class="righted">
          <div class="closed">
            <div class="date box">
              <p>data do sorteio</p>
              <h2>27 set, 18h</h2>
            </div>
            <div class="prize box">
              <p>valor do premio</p>
              <h2>-</h2>
            </div>
            <div class="winner box">
              <p>vencedor</p>
              <h2>-</h2>
            </div>
          </div>
        </li>
      </ul>

      <div class="raffle-number">
        <ul>
          <li>sorteio #1</li>
          <li class="selected">sorteio #2</li>
          <li>sorteio #3</li>
        </ul>
      </div>

      <a href="" class="raffle-control left">&nbsp;</a>
      <a href="" class="raffle-control right">&nbsp;</a>

      <span class="raffle-shadow left">&nbsp;</span>
      <span class="raffle-shadow right">&nbsp;</span>

    </div>

</section>
