<section class="raffle">

  <ul class="raffle-detail">

    <script id="raffle" type="text/x-handlebars-template">
      {{#each orders}}
        {{#compare order.status 'completed'}}
          <li class="lefted">
            <div class="closed">
              <div class="date box">
                <p>date</p>
                <h2>{{formatDate order.created_at "short"}}</h2>
              </div>
              <div class="prize box">
                <p>prize</p>
                <h2>USD {{order.total_native.floated}}</h2>
              </div>
              <div class="winner box">
                <p>winner</p>
                <h2>fguth08</h2>
              </div>
            </div>
          </li>
        {{/compare}}

        {{!#compare order.status '!=' 'completed'}}
        {{#compare true true}}
          <li class="centered">
            <div class="running">
              <div class="detailer lefty">
                <h2>USD {{order.total_native.floated}}</h2>
                <p>current prize</p>
              </div>
              <a href="#" class="bet" title="Bet the amount of Bitcoins you want!" data-code="{{order.button.id}}">bet now</a>
              <div class="coinbase-button" data-code="{{order.button.id}}" data-button-style="none"></div>
              <div class="detailer righty">
                <h2>3h45m</h2>
                <p>time remaining</p>
              </div>
            </div>
          </li>
        {{/compare}}
      {{/each}}
    </script>

  </ul>

  <div class="raffle-number">
    <ul>
      <li>bogg #1</li>
      <li class="selected">bogg #2</li>
    </ul>
  </div>

  <a href="" class="raffle-control left">&nbsp;</a>
  <a href="" class="raffle-control right">&nbsp;</a>
  <span class="raffle-shadow left">&nbsp;</span>
  <span class="raffle-shadow right">&nbsp;</span>

</section>

<section class="how-it-works">
  <div class="step">
     <h2>bets are gathered<br>to the daily jar.</h2>
     <p>you can bet more than once.</p>
  </div>
  <div class="step">
     <h2>we raffle the prize<br>between addresses.</h2>
     <p>the more you bet, the higher your chances.</p>
  </div>
  <div class="step">
     <h2>winners takes it all<br>back to it’s wallet.</h2>
     <p>yep. automatically transferred.</p>
  </div>
</section>

<section class="list">
  <script id="list" type="text/x-handlebars-template">
    {{#if error}}
      <p>{{error}}</p>
    {{else}}
      <ul>
        <li class="list-header">
          <span class="span1">Transaction ID</span>
          <span class="span2">Name</span>
          <span class="span3">Value</span>
          <span class="span4">Address</span>
          <span class="span5">Details</span>
        </li>
        {{#each orders}}
          <li>
            <span class="span1">{{order.id}}</span>
            <span class="span2">{{order.transaction.transaction.sender.name}}</span>
            <span class="span3 bitcoin">{{order.total_btc.floated}} {{order.total_btc.currency_iso}}</span>
            <span class="span4">{{order.receive_address}}</span>
            <span class="span5 detail">39x74mfj</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </script>
</section>
