<section class="page">

    <h1>
      aposte o quanto quiser.<br>
      a sorte decide quem ganha.
    </h1>

    <div class="raffle">

      <ul class="raffle-detail">
        <li>
          <div class="opened">
            apostas abertas
          </div>
        </li>
        <li>
          <div class="closed">
            sorteios anteriores ou futuros. fechados.
          </div>
        </li>
      </ul>

      <ul class="raffle-number">
        <li></li>
      </ul>

    </div>

</section>
