<section class="raffle">

  <ul class="raffle-detail">

    <li class="lefted" data-code="997dwa7987d98wa7987d9w79329872332d">
      <div class="closed">
        <div class="date box">
          <p>date</p>
          <h2>aug, 17</h2>
        </div>
        <div class="prize box">
          <p>prize</p>
          <h2>$ 9,702.15</h2>
        </div>
        <div class="winner box">
          <p>winner</p>
          <h2>fguth08</h2>
        </div>
      </div>
    </li>

    <li class="centered" data-code="99bc5a1cca84b99efe6be90c249545b7">
      <div class="running">
        <div class="detailer lefty">
          <h2>8.027 BTC</h2>
          <p>current prize</p>
        </div>
        <a href="#" class="bet" title="Bet the amount of Bitcoins you want!">bet now</a>
        <div class="detailer righty">
          <h2>3h45m</h2>
          <p>time remaining</p>
        </div>
      </div>
    </li>

    <li class="righted">
      <div class="closed">
        <div class="detailer lefty">
          <h2>sep, 27</h2>
          <p>date</p>
        </div>
        <div class="bet">
          foo
        </div>
        <div class="detailer righty">
          <h2>-</h2>
          <p>winner</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="raffle-number">
    <ul>
      <li>bogg #1</li>
      <li class="selected">bogg #2</li>
      <li>bogg #3</li>
      <li>bogg #4</li>
      <li>bogg #5</li>
    </ul>
  </div>

  <a href="" class="raffle-control left">&nbsp;</a>
  <a href="" class="raffle-control right">&nbsp;</a>
  <span class="raffle-shadow left">&nbsp;</span>
  <span class="raffle-shadow right">&nbsp;</span>

</section>


<section class="how-it-works">
  <div class="step">
     <h2>bets are gathered<br>to the daily jar.</h2>
     <p>you can bet more than once.</p>
  </div>
  <div class="step">
     <h2>we raffle the prize<br>between addresses.</h2>
     <p>the more you bet, the higher your chances.</p>
  </div>
  <div class="step">
     <h2>winners takes it all<br>back to it’s wallet.</h2>
     <p>yep. automatically transferred.</p>
  </div>
</section>


<section class="list">
  <script id="list" type="text/x-handlebars-template">
    {{#if error}}
      <p>{{error}}</p>
    {{else}}
      <ul>
        {{#each orders}}
          <li>
            time: {{formatDate order.created_at "short"}}<br>
            order id: {{order.id}}<br>
            address: {{order.receive_address}}<br>
            sender: {{order.transaction.transaction.sender.name}}<br>
            value: {{order.total_native.currency_iso}} {{order.total_native.floated}}<br>
            value: {{order.total_btc.currency_iso}} {{order.total_btc.floated}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </script>
</section>

