.raffle {
  @include size(100% 150px);
  margin: -110px 0 0;
  @include background(linear-gradient(top, transparent 0%, transparent 100%), linear-gradient(top, $PURPLE-2 0%, $PURPLE-2 100%));
  background-size: 100% 110px, 100% 40px;
  background-position: 0 0, 0 110px;
  background-repeat: no-repeat, no-repeat;

  .raffle-detail {
    @include size(100% 110px);
    padding: 0;
    margin: 0;
    background: transparent;

    li {
      display: block;
      @include size(100% 110px);
      position: absolute;
      @include transition(left .35s ease 0, right .35s ease 0, height 0 ease 0, width 0 ease 0);

      &.centered { left: 0; }
      &.righted { left: 100%; }
      &.lefted { left: -100%; }

      &.righted, &.lefted {
        height: 0;
        width: 0;
        overflow: hidden;
        @include transition(left .35s ease 0, right .35s ease 0, height 0 ease .35s, width 0 ease .35s);
      }
    }

    .bet {
      @include size(120px 110px);
      margin: 0;
      background: $GREEN-1 url('ui.svg') no-repeat 0 0;
      display: inline-block;
      z-index: 30;
      position: absolute;
      text-align: center;
      font-family: "Novecento", sans-serif;
      @include transition(background-color .35s ease);
      font-size: 12px;
      color: $GREEN-3;
      text-decoration: none;
      @include box-sizing(border-box);
      padding: 80px 0 0;

      &:hover {
        background-size: 500%;
        background-position: -5px -3px;
        background-color: lighten($GREEN-1, 5%);

        &:after { border-top-color: lighten($GREEN-1, 5%); }
      }

      &:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        @include size(0);
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: $GREEN-1;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
      }
    }

    .detailer {
      @include size(200px 110px);
      margin: 0;
      padding: 0;
      @include box-sizing(border-box);

      &:after {
        position: relative;
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        @include size(200px 90px);
        content: " ";
        margin-top: -85px;
      }

      &:before {
        @include size(0 90px);
        position: absolute;
        display: block;
        content: " ";
        border-top: 1px solid transparent;
        border-bottom: 0 solid transparent;
        opacity: .2;
        z-index: 2;
      }

      &.lefty {
        float: left;
        &:after {
          border-left: 208px solid $GREEN-2;
          border-right: 0 solid transparent;
          @include transform(skew(-10deg));
        }

        &:before {
          border-left: 10px solid $GREEN-3;
          border-right: 0 solid transparent;
          @include transform(skew(5deg));
          margin: 19px 0 0 195px;
        }
      }

      &.righty {
        float: right;
        &:after {
          border-right: 208px solid $GREEN-2;
          border-left: 0 solid transparent;
          @include transform(skew(10deg));
          margin-left: -208px;
        }

        &:before {
          border-right: 10px solid $GREEN-3;
          border-left: 0 solid transparent;
          @include transform(skew(-5deg));
          margin: 19px 0 0 -5px;
        }
      }

      h2, p {
        z-index: 2;
        position: relative;
      }

      h2 {
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        letter-spacing: -2px;
        line-height: 30px;
        margin: 40px 0 0;
        padding: 0;
      }

      p {
        margin: 10px 0 0;
        text-align: center;
        font-family: "Novecento", sans-serif;
        font-size: 12px;
        color: $GREEN-3;
      }
    }

    .running, .closed {
      @include size(520px 110px);
      margin: 0 auto;
    }
  }

  .raffle-number {
    @include size(1080px 40px);
    margin: 0 auto;
    padding: 0;
    background: transparent;
    position: relative;
    overflow: hidden;

    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 480px;

      li {
        float: left;
        display: block;
        @include size(120px 40px);
        font-weight: bold;
        line-height: 38px;
        font-size: 14px;
        color: $PURPLE-3;
        text-align: center;

        &.selected { color: #fff; }
      }
    }
  }

  .raffle-control {
    float: left;
    @include size(112px 220px);
    background: url("ui.svg") no-repeat;
    color: $WHITE;
    text-decoration: none;
    position: relative;
    @include transition (margin .2s ease-out .02s);
    z-index: 10;

    &.left {
      margin-left: 5px;
      left: 50%;
      margin: -185px 0 0 -475px;
      background-position: -120px 0;
    }

    &.right {
      float: right;
      right: 50%;
      margin: -170px -475px 0 0;
      background-position: -232px 0;
    }

    &:hover {
      @include transition (margin .1s ease-in .02s);
      &.left { margin-left: -480px; } &.right { margin-right: -480px;}
    }
  }

  .raffle-shadow {
    float: left;
    @include size(220px 40px);
    background: #000;
    position: relative;
    margin-top: -40px;

    &.left {
      left: 50%;
      margin-left: -480px;
      @include background(linear-gradient(left,  rgba(31,19,26,1) 0%, rgba(31,19,26,1) 20%, rgba(31,19,26,0) 100%));
    }

    &.right {
      float: right;
      right: 50%;
      margin-right: -480px;
      @include background(linear-gradient(left,  rgba(31,19,26,0) 0%, rgba(31,19,26,1) 80%, rgba(31,19,26,1) 100%));
    }
  }
}

.how-it-works {
  @include size(950px 100px);
  margin: 0 auto;
  padding: 80px 0;

  .step {
    float: left;
    width: 315px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 44px;
    margin: 0;
  }

  p {
    color: $PURPLE-3;
    font-size: 15px;
    letter-spacing: 0;
    margin: 10px 0 0;
  }
}

.boggs {
  padding: 30px 0;

  h2 {
    text-align: center;
    font-size: 26px;
    margin: 0 0 30px;
    line-height: 28px;
    font-weight: 200;
  }
}
