@include keyframes(Hsmall) {
  0% { margin-top: 83px; }
  50% { margin-top: 86px; }
  100% { margin-top: 83px; }
}

.page {
  @include size(100% 500px);
  background: url("blurred.jpg") repeat-x 0 0;
  padding: 140px 0 0;
  @include box-sizing(border-box);

  h1 {
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -3px;
    color: #fff;
    margin-bottom: 100px;
    @include transition (opacity .15s ease-out);

    &.step { opacity: 0; }
  }

  .arrow {
    position: absolute;
    width: 100px;
    height: 30px;
    background: url("ui.svg") no-repeat 0 -110px;
    left: 50%;
    top: 205px;
    margin: 0 0 0 -50px;
    @include animation(Hsmall .4s ease infinite);
  }
}

.raffle {
  @include size(100% 120px);
  position: relative;
  bottom: 0;
  @include background(linear-gradient(top, $RED 0%, $RED 100%), linear-gradient(top, $SHADOW-RED 0%, $SHADOW-RED 100%));
  background-size: 100% 80px, 100% 40px;
  background-position: 0 0, 0 80px;
  background-repeat: no-repeat, no-repeat;

  .raffle-detail {
    @include size(100% 110px);
    padding: 0;
    margin: 0;
    position: relative;
    top: -30px;
    background: transparent;

    li {
      display: block;
      @include size(100% 110px);
      position: absolute;
      @include transition(left .35s ease 0, right .35s ease 0);

      &.centered { left: 0; }
      &.righted { left: 100%; }
      &.lefted { left: -100%; }
    }

    .opened {
      @include size(520px 110px);
      margin: 0 auto;

      .bet {
        @include size(100px 110px);
        margin: 0 2px;
        background: $BLUE url('ui.svg') no-repeat 0 0;
        display: inline-block;
        z-index: 30;
        position: absolute;
        @include transition (width .2s ease, margin .2s ease);

        &:after {
          top: 100%;
          border: solid transparent;
          content: " ";
          @include size(0);
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-top-color: $BLUE;
          border-width: 10px;
          left: 50%;
          margin-left: -10px;
        }

        &:hover   { background-color: lighten($BLUE, 7%);
          &:after { border-top-color: lighten($BLUE, 7%); }
        }

        .amount {
          float: left;
          width: 140px;
          height: 110px;
          border: none;
          outline: none;
          @include box-sizing(border-box);
          font-size: 42px;
          line-height: 58px;
          letter-spacing: -2px;
          font-weight: 100;
          color: #fff;
          background: transparent;
          padding: 0 30px 0 55px;
          cursor: pointer;
          @include transition (width .2s ease, margin .2s ease);
          opacity: 0;

          @include placeholder {
            color: rgba(255,255,255,.3);
            opacity: 0;
          }
        }

        .go {
          opacity: 0;

          &.revealed {
            opacity: 1;
          }
        }

        &.step {
          width: 520px;
          margin: 0 0 0 -208px;
          background-image: none;
          @include transition (width .2s ease, margin .2s ease);

          &:hover   { background-color: $BLUE;
            &:after { border-top-color: $BLUE; }
          }

          .amount {
            width: 400px;
            cursor: text;
            opacity: 1;
            background: transparent url("ui.svg") no-repeat 0 -220px;
            @include transition (width .2s ease, margin .2s ease, opacity .4s ease-in .2s);

            @include placeholder { opacity: 1; }
          }

          .go {
            float: right;
            width: 120px;
            height: 110px;
            line-height: 100px;
            text-align: center;
            color: #fff;
            font-weight: 100;
            font-size: 40px;
            letter-spacing: -3px;
            text-decoration: none;
            color: darken($BLUE,40%);
            line-height: 105px;
            @include transition (opacity .4s ease-in .2s, font-size .1s ease-out);

            &:hover {
              font-size: 50px;
              @include transition (font-size .1s ease-out); }
          }

          .caller {
            margin: -225px 0 0 0;
            opacity: 1;
            pointer-events: auto;
            @include transition (opacity .15s ease-in .2s, margin .15s ease-in .2s);
          }
        }
      }

      .caller {
        width: 520px;
        position: absolute;
        margin: -210px 0 0 0;
        opacity: 0;
        pointer-events: none;

        h3 {
          font-size: 50px;
          line-height: 45px;
          font-weight: 100;
          letter-spacing: -3px;
          text-align: center;
          margin-bottom: 25px;
        }

        p {
          font-size: 20px;
          line-height: 12px;
          text-align: center;
          font-weight: normal;
        }
      }
    }

    .closed {
      @include size(628px 110px);
      margin: 0 auto;

      .box {
        &.date { float: left; }
        &.winner { float: right; }
        &.prize {
          float: left;
          margin: 15px 2px 0;

          &:after {
            top: 100%;
            border: solid transparent;
            content: " ";
            @include size(0);
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: $SHADOW-BLUE;
            border-width: 10px;
            left: 50%;
            margin-left: -10px;
          }
        }
      }
    }

    .box {
      @include size(208px 95px);
      background: $SHADOW_BLUE;
      margin: 15px 0 0;
      padding: 15px 0 0;
      @include box-sizing(border-box);

      h2 {
        font-size: 40px;
        font-weight: 100;
        text-align: center;
        letter-spacing: -3px;
        line-height: 30px;
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0 0 10px;
        text-align: center;
        font-family: "Novecento", sans-serif;
        font-size: 11px;
      }

      &.date { float: left; }
      &.prize { float: right; }
    }
  }

  .raffle-number {
    @include size(1080px 40px);
    margin: -30px auto 0;
    padding: 0;
    background: transparent;
    position: relative;
    overflow: hidden;

    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 480px;

      li {
        float: left;
        display: block;
        @include size(120px 40px);
        font-weight: bold;
        line-height: 38px;
        font-size: 14px;
        color: $LIGHT-RED;
        text-align: center;

        &.selected { color: #fff; }
      }
    }
  }

  .raffle-control {
    float: left;
    @include size(112px 220px);
    background: url("ui.svg") no-repeat;
    color: #fff;
    text-decoration: none;
    position: relative;
    @include transition (margin .2s ease-out .02s);
    z-index: 10;

    &.left {
      margin-left: 5px;
      left: 50%;
      margin: -170px 0 0 -535px;
      background-position: -100px 0;
    }

    &.right {
      float: right;
      right: 50%;
      margin: -170px -535px 0 0;
      background-position: -212px 0;
    }

    &:hover {
      @include transition (margin .1s ease-in .02s);
      &.left { margin-left: -540px; } &.right { margin-right: -540px;}
    }
  }

  .raffle-shadow {
    float: left;
    @include size(220px 40px);
    background: #000;
    position: relative;
    margin-top: -40px;

    &.left {
      left: 50%;
      margin-left: -540px;
      @include background(linear-gradient(left,  rgba(166,36,57,1) 0%, rgba(166,36,57,1) 20%, rgba(166,36,57,0) 100%));
    }

    &.right {
      float: right;
      right: 50%;
      margin-right: -540px;
      @include background(linear-gradient(left,  rgba(166,36,57,0) 0%, rgba(166,36,57,1) 80%, rgba(166,36,57,1) 100%));
    }
  }
}
