footer {
  background: $RED;
  height: 70px;
  width: 100%;
  margin: 80px 0 0;

  .boggwon {
    float: left;
    height: 70px;
    padding: 23px 20px 23px;
    @include box-sizing(border-box);
  }

  .bitcoin {
    padding: 27px 20px;
    @include box-sizing(border-box);
    float: right;
    font-family: "Novecento";
    color: $WHITE;
    font-size: 11px;

    span { float: left; margin: 3px 6px 0 0; }
    img { float: right; }
  }

  .links {
    float: left;
    padding: 22px 20px;
    margin: 0;

    li {
      display: inline-block;
      margin-top: 5px;
      font-family: "Novecento";
      color: $WHITE;
      font-size: 11px;
      @include box-sizing(border-box);
      padding-left: 13px;
      margin-left: 8px;
      background: url("li-styler.svg") no-repeat 0 4px;

      &:first-child {
        padding: 0;
        margin: 0;
        background: none;
      }

      a { text-decoration: none; }
    }
  }
}
