footer {
  background: transparent;
  height: 70px;
  width: 100%;
  margin: 100px 0 0;

  .boggwon {
    float: left;
    height: 70px;
    padding: 23px 20px 23px;
    @include box-sizing(border-box);
  }

  .paypal {
    padding: 27px 20px;
    @include box-sizing(border-box);
    float: right;
    font-family: "Novecento";
    color: $PURPLE-3;
    font-size: 11px;
    letter-spacing: -1px;

    span { float: left; margin: 1px 5px 0 0; }
    img { float: right; }
  }

  .links {
    float: left;
    padding: 22px 20px;
    margin: 0;

    li {
      display: inline-block;
      margin-top: 5px;
      font-family: "Novecento";
      letter-spacing: -1px;
      color: $PURPLE-3;
      font-size: 11px;
      @include box-sizing(border-box);
      padding-left: 13px;
      margin-left: 8px;
      background: url("li-styler.svg") no-repeat 0 4px;

      &:first-child {
        padding: 0;
        margin: 0;
        background: none;
      }

      a {
        text-decoration: none;

        &:hover { color: #fff; }
      }
    }
  }
}
