@include keyframes(Hsmall) {
  0% { background-position: 0 -110px; }
  50% { background-position: 0 -107px; }
  100% { background-position: 0 -110px; }
}

header {
  background: url('bg.jpg') repeat-x -700px 0;
  height: 500px;
  width: 100%;
  top: 0;
  text-align: center;
  padding: 30px 0 0;
  @include box-sizing(border-box);

  h1 {
    text-align: center;
    margin: 75px auto;
    font-weight: 100;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -3px;
    @include transition (opacity .15s ease-out);
  }

  .arrow {
    display: block;
    width: 100px;
    height: 30px;
    margin: -63px auto 0;
    background: url("ui.svg") no-repeat 0 -110px;
    @include animation(Hsmall .4s ease-out infinite);
  }
}
