header {
  background: transparent;
  height: 70px;
  border-bottom: 1px solid #fff;
  width: 100%;
  position: absolute;
  top: 0;

  .boggwon {
    float: left;
    @include box-sizing(border-box);
    padding: 16px 20px 14px;
    border-right: 1px solid #fff;
  }

  .share {
    float: right;
    border-left: 1px solid #fff;

    a {
      @include box-sizing(border-box);
      float: left;
      width: 70px;
      height: 70px;
      text-align: center;
      text-decoration: none;
      background: url("ui.svg") no-repeat -325px -2px;

      &.facebook { background-position: -465px 0;}
      &.twitter  { background-position: -395px 0 ;}
      &.google   { background-position: -325px -70px;}
    }
  }

  .websites {
    float: left;
    width: 210px;
  }
}
