@font-face {font-family: 'Novecento';src: url('15AC74_0.eot');src: url('15AC74_0.eot?#iefix') format('embedded-opentype'),url('15AC74_0.woff') format('woff'),url('15AC74_0.ttf') format('truetype'),url('15AC74_0.svg#wf') format('svg');}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  @include size(100%);
  background: $PURPLE-1;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.limiter {
  width: 1080px;
  margin: 0 auto;
}
