$GREEN-1: #32ff09; // Light Green
$GREEN-2: #2bb608; // Dark Green
$GREEN-3: #006d03; // Text green

$PURPLE-1: #261822; // Light Purple
$PURPLE-2: #1e131b; // Dark Purple
$PURPLE-3: #493b45; // Text Purple

$RED: #9b1e32;
$WHITE: #ffffff;
