$GREEN-1: #00ff55; // Light Green
$GREEN-2: #00b63b; // Dark Green
$GREEN-3: #006d20; // Text green

$PURPLE-1: #271821; // Light Purple
$PURPLE-2: #1f131a; // Dark Purple
$PURPLE-3: #463740; // Text Purple

$RED: #a11932;
$WHITE: #ffffff;
