<footer>
  <div class="boggwon">
    <%= image_tag("boggwon-footer.svg", alt: "boggwon")%>
  </div>
  <ul class="links">
    <li>2013. all rights reserved.</li>
  </ul>
  <div class="paypal">
    <span>powered by</span>
    <%= image_tag("paypal.svg", alt: "PayPal")%>
  </div>
</footer>
