<footer>
  <div class="boggwon">
    <%= image_tag("boggwon-footer.svg", alt: "boggwon")%>
  </div>
  <ul class="links">
    <li><a href="" title="">termos de uso</a></li>
    <li><a href="" title="">faq</a></li>
    <li>todos os direitos reservados 2013.</li>
  </ul>
  <div class="paypal">
    <span>powered by</span>
    <%= image_tag("paypal.svg", alt: "PayPal")%>
  </div>
</footer>
