<header>
  <div class="boggwon">
    <%= image_tag("boggwon.svg", alt: "boggwon")%>
  </div>
  <div class="share">
    <div class="websites">
      <a href="#" title="Facebook" class="facebook">&nbsp;</a>
      <a href="#" title="Twitter" class="twitter">&nbsp;</a>
      <a href="#" title="Google" class="google">&nbsp;</a>
    </div>
    <a href="#" title="Share" class="trigger">&nbsp;</a>
  </div>
</header>
